output "DP-1" {
    mode "2560x1440@59.9"
    position x=2560 y=0
    scale 1
}

output "HDMI-A-1" {
    mode "2560x1440@59.9"
    position x=0 y=0
    scale 1
}

output "eDP-1" {
    mode "2880x1800@90.0"
    scale 1.5
    position x=4480 y=0
}

