# This is Git's per-user configuration file.
[user]
	name = "Florian Sanders"
	email = "florian.sanders@clever-cloud.com"
	signingkey = B9A906E79574A89C

[gpg]
	program = gpg

[core]
	editor = "nvim"
	excludesFile = "~/.gitignore"

[init]
	defaultBranch = "main"

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[commit]
	gpgSign = true

[tag]
	gpgSign = true

